@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@layer base {
    .custom__heading {
      font-family: 'Merriweather', serif, system-ui, sans-serif;
    }

    body{
        font-family: 'Open Sans', sans-serif;
    }
  }

  .top{
  
      animation-name: fade;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-direction: alternate;
    
    
  }

  .section__img{
    /* position: relative; */
  }
  .section__img span img{
   
      /* position: absolute; */
   
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }