@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



body{
  font-family: 'Open Sans', sans-serif;
}

    .custom__heading {
      font-family: 'Merriweather', serif, system-ui, sans-serif;
    }

    .filter__settings  {
      display: flex;
      flex-direction: row;
    }
    .filter__settings:before, .filter__settings:after{
      content: "";
      flex: 1 1;
      border-bottom: 1px solid #DADAEE;
      margin: auto;
    }
    .filter__settings:before {
      margin-right: 10px
    }
    .filter__settings:after {
      margin-left: 10px
    }
